---
import Layout from "../layouts/Base.astro";
---

<Layout title="About Me" heroImage="/blog-placeholder-about.jpg">
  <article>
    <div class="prose">
      <div class="title">
        <hr />
      </div>
       To find out more about who I am, you can visit my social links in the
      headers/footers.
    </div>
  </article>
</Layout>
