---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Everything and anything...</h1>
      <p></p>
      <h2>Introduction</h2>
       A place for me to try to explain things I've learnt or as a wrapper to
      other bits of code, such as in GitHub gists. While I strive for accuracy
      in all things I can't guarantee this so please take with a grain of salt
      and don't hesitate to create PR's for things you know are wrong. To find
      out more about who I am, you can visit my social links in the
      headers/footers.
    </main>
    <Footer />
  </body>
</html>
