---
import Layout from "../../layouts/Base.astro";
import Content from "../../content/fit_together/index.md";
---

<Layout
  title="The IT industry, how does it all fit together?"
  heroImage="/blog-placeholder-about.jpg"
>
  <article>
    <div class="prose">
      <div class="title">
        <hr />
      </div>
      <Content />
    </div>
  </article>
</Layout>
